body {
	margin: 1;
	padding: 0;
	font-family: "Roboto Condensed", "�q���M�m�p�S Pro W3",
		"Hiragino Kaku Gothic Pro", "���C���I", "Meiryo" sans-serif;
	font-size: 0.85rem;
	line-height: 1.4;
}

table {
	border-collapse: collapse;
	border-style: solid; /* �g�̎�� */
	border-color: #ffffff; /* �g�̐F */
	border-width: 1px; /* �g�̕� */
}

th {
	width: 220px;
	height: 30px;
	color: #000000; /* �����̐F */
	border-style: solid; /* �g�̎�� */
	border-color: #ffffff; /* �g�̐F */
	border-width: 1px 0px; /* �g�̕� */
}

td {
	color: #000000; /* �����̐F */
	border-style: solid; /* �g�̎�� */
	border-color: #ffffff; /* �g�̐F */
	border-width: 1px 0px; /* �g�̕� */
	width: 40px;
	text-align: center;
	background: #ffffff;
}

*.heading {
	background: #f0f8ff;
	text-align: center;
	font-weight: bold;
}

*.index {
	/*
	background: #f0f8ff;
	*/
	text-align: center;
	font-weight: bold;
}

*.limited {
	/*
	background: #faf0ff;
	*/
	text-align: center;
	font-weight: bold;
}

.wrapper {
	background-color: rgba(255, 255, 255, 0.6);
}

#bg01 {
	background: url("bg/01.jpg");
}

#bg02 {
	background: url("bg/02.jpg");
}

#bg03 {
	background: url("bg/03.jpg");
}

#bg04 {
	background: url("bg/04.jpg");
}

#bg05 {
	background: url("bg/05.jpg");
}

#bg06 {
	background: url("bg/06.jpg");
}

#bg07 {
	background: url("bg/07.jpg");
}

#bg08 {
	background: url("bg/08.jpg");
}

#bg09 {
	background: url("bg/09.jpg");
}

#bg10 {
	background: url("bg/10.jpg");
}

#bg11 {
	background: url("bg/11.jpg");
}

#bg12 {
	background: url("bg/12.jpg");
}

#bg13 {
	background: url("bg/13.jpg");
}

#bg14 {
	background: url("bg/14.jpg");
}

#bg15 {
	background: url("bg/15.jpg");
}

#bg16 {
	background: url("bg/16.jpg");
}

#bg17 {
	background: url("bg/17.jpg");
}

#bg18 {
	background: url("bg/18.jpg");
}

#bg19 {
	background: url("bg/19.jpg");
}

#bg20 {
	background: url("bg/20.jpg");
}

#bg21 {
	background: url("bg/21.jpg");
}

#bg22 {
	background: url("bg/22.jpg");
}

#bg23 {
	background: url("bg/23.jpg");
}

#bg24 {
	background: url("bg/24.jpg");
}

#bg25 {
	background: url("bg/25.jpg");
}

#bg26 {
	background: url("bg/26.jpg");
}

#bg27 {
	background: url("bg/27.jpg");
}

#bg28 {
	background: url("bg/28.jpg");
}

#bg29 {
	background: url("bg/29.jpg");
}

#bg30 {
	background: url("bg/30.jpg");
}

#bg31 {
	background: url("bg/31.jpg");
}

#bg32 {
	background: url("bg/32.jpg");
}

#bg33 {
	background: url("bg/33.jpg");
}

#bg34 {
	background: url("bg/34.jpg");
}

#bg35 {
	background: url("bg/35.jpg");
}

#bg36 {
	background: url("bg/36.jpg");
}

#bg37 {
	background: url("bg/37.jpg");
}

#bg38 {
	background: url("bg/38.jpg");
}

#bg39 {
	background: url("bg/39.jpg");
}

#bg40 {
	background: url("bg/40.jpg");
}

#bg41 {
	background: url("bg/41.jpg");
}

#bg42 {
	background: url("bg/42.jpg");
}

#bg43 {
	background: url("bg/43.jpg");
}

#bg44 {
	background: url("bg/44.jpg");
}

#bg45 {
	background: url("bg/45.jpg");
}

#bg46 {
	background: url("bg/46.jpg");
}

#bg47 {
	background: url("bg/47.jpg");
}


#bg48 {
	background: url("bg/48.jpg");
}

#bg49 {
	background: url("bg/49.jpg");
}

#bg50 {
	background: url("bg/50.jpg");
}

#bg51 {
	background: url("bg/51.jpg");
}

#bg52 {
	background: url("bg/52.jpg");
}

#bg53 {
	background: url("bg/53.jpg");
}

#bg54 {
	background: url("bg/54.jpg");
}

#bg55 {
	background: url("bg/55.jpg");
}

#bg56 {
	background: url("bg/56.jpg");
}

#bg57 {
	background: url("bg/57.jpg");
}

#bg61 {
	background: url("bg/61.jpg");
}

#bg62 {
	background: url("bg/62.jpg");
}

#bg63 {
	background: url("bg/63.jpg");
}

#bg64 {
	background: url("bg/64.jpg");
}

#bg65 {
	background: url("bg/65.jpg");
}

#bg66 {
	background: url("bg/66.jpg");
}

#bg91 {
	background: url("bg/91.jpg");
}

#bg92 {
	background: url("bg/92.jpg");
}

#bg93 {
	background: url("bg/93.jpg");
}

#bg94 {
	background: url("bg/94.jpg");
}

#bg95 {
	background: url("bg/95.jpg");
}
#bg96 {
	background: url("bg/96.jpg");
}


.index, .limited {
	background-attachment: scroll !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
}